/*Settings*/
.h6 {font-size: small;}
.settings {
    background-color: rgb(24, 23, 23);
    color: white;
    display: flex;
    justify-content: center;
}
.dataContent {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.contentArea {
    background-color: transparent;
    border-radius: 10px;
    width: 10%;
    height: 10%;
}
.setting {
    border-bottom: solid 1px white;
    padding: 10px;
}

.content>.cont {
    padding: 10px;
}
.content>.cont:hover {
    opacity: 0.8;color: red;cursor: pointer;
}
.content>.current {
    border-left: ridge 1px darkred;
    color: darkred;
}

.meDataArea {
    margin-left: 20px;
    width: 80%;
}
.titleData {font-size: 30px;}
.settingArea {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.input {
      width: 25vh;
      padding: 7px;
      margin: 4px;
      border: 0;
      border-radius: 5px;
      background-color: black;
      color: white;
      border: solid 1px lightgray;
      font-family: "Goldman";
      outline: 0;
      box-shadow: rgb(0, 0, 0, 0.6) 0 1px 1px;
}
.input:focus {
    border: solid 1px red;
}
.button {
    width: 25vh;
    padding: 7px;
    margin: 4px;
    border: 0;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: solid 1px lightgray;
    font-family: "Goldman";
    outline: 0;
    box-shadow: rgb(0, 0, 0, 0.6) 0 1px 1px;
    cursor: pointer;
}
.button:hover {
    border: solid 1px red;
}
.saveProfile, .saveAccount {
    background-color: rgb(5, 182, 5);
    color: white;
    padding: 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Goldman";
    outline: 0;
}
.saveProfile:hover, .saveAccount:hover {
    opacity: 0.8;
}