@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.nav {
  background: rgb(24, 23, 23);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 100;
  margin-bottom: 20px;
}
.navItems {
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 10px;
}
.appname:hover {cursor: pointer;}
.appnav {
  font-size: 30px;
  cursor: pointer;
}
.tabnav {
  display: flex;
  padding-left: 10px;
  transition: 0.5s;
}
.mobtab {display: none;}
.accountnav {
  font-size: 50px;
  position: absolute;
  right: 1px;
  right: 5%;
  display: flex;
  flex-direction: column;
}
.profilePicture {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10000000px;
  border: solid 1px gray;
  box-shadow: rgb(0, 0, 0, 0.6) 0 5px 15px;
  transition: all 0.15s ease-out;
}
.profilePicture:hover {
  width: 80px;
  height: 80px;
}

/*Tabs*/
.tab {
  font-size: 20px;
  margin: 5px 10px 0 0;
  color: white;
  position: relative;
  transition: 0.9s ease;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab::after {
  content: '';
  border-bottom: 3px solid;
  color: white;
  position: absolute;
  width: 6%;
  height: 38px;
  transition: 0.9s ease;
}
.tab:hover { color: red; }
.tab:hover::after { width: calc(80%); color:red; }
.tab-nav>.current {
color: darkred;
}

/*Mobile Tabs*/
.sideHolder {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sideHolder .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sideHolder {padding-top: 15px;}
  .sideHolder a {font-size: 18px;}
}
/*
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
*/
.welcome {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-family: Arial, Helvetica, sans-serif;
}

/*Footer*/
.footer {
  background: rgb(24, 23, 23);
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
  margin-top: 15px;
  width: 100%;
}
.footerItems {
  display: flex;
  flex-direction: column;
  text-align:start;
  padding: 10px;
  font-size: 15px;
}
.footerItems > a {
  padding: 5px;
}
.footerItems > a:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.about {
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 800px) {
  .comtab {display: none;}
  .mobtab {display: block;}
  .nav {font-size: 30px;}
}


.loading-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  position:fixed;
  top: 45%;
  font-size: 100px;
  z-index: 100;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  margin: 20px;
}
.hero {
  background-color: black;
  text-align: center;
  width: 75%;
  height: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 270px;
  background: white;
  border-radius: 10px;
  border: 1px solid white;
  overflow: hidden;
  font-size: 20px;
  text-align: left;
  margin: 10px;
}
.card:hover {
  transform: scale(1.02);
}

.cardcontent {
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 50px;
}
.credits {
  font-size: 12px;
}
.subtitle {
  font-size: 15px;
  color: grey;
}
.title {
  font: bold;
}

.err4r {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  
}
.err4rmsg {
  font-size: 100px;
  font-family: Source Code Pro;
}